/* Wrapper style */
.wrapper {
	width: 100%;
}

/* Add a purple background color to the top navigation */
.topnav {
	background-color: #838;
	overflow: hidden;
	margin: auto;
	width: 17.6em;
}

/* Style the links inside the navigation bar */
.topnav a {
	float: center;
	color: #f2f2f2;
	text-align: center;
	padding: 20px 24px;
	text-decoration: none;
	font-size: 2em;
}

/* Change the color of links on hover */
.topnav a:hover {
	background-color: #bc59f9;
	color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
	background-color: #f9c13e;
	color: black;
}

.createform {
	margin: auto;
	text-align: center;
}

.createform input {
	width: 24em;
	margin: 5px 6px
}

.createform select {
	width: 10em;
	text-align: center;
	margin: 5px 6px;
}

.createform option {
	text-align: center;
}

.tableheader{
	border-bottom: 2px solid #0039e6;
}

.tablerow td{
	padding: 10px;
}

.tablerow {
	border-bottom: 2px solid #0039e6;
}

#requests_table_id {
	margin: auto;
}
